<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="log-root" value="Log" />
	<variable name="log-daily" value="${log-root}/" />

	<!-- the targets to write to -->
	<targets async="true">
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${uppercase:${level}}: ${logger}[${event-properties:item=EventId_Id:whenEmpty=0}]${newline} ${message}${onexception:inner= | ${exception:format=ToString}}" />

		<target encoding="utf-8" xsi:type="File" name="All"
                fileName="${log-daily}/${shortdate}[all].log"
                archiveAboveSize="20480000"
                archiveNumbering="Sequence"
                archiveFileName="${log-daily}/${shortdate}[all]-{####}.log"
                maxArchiveFiles="2000"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${uppercase:${level}} ${logger} ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />

		<target encoding="utf-8" xsi:type="File" name="Warnfile"
                fileName="${log-daily}/${shortdate}[Warn].log"
                archiveAboveSize="20480000"
                archiveNumbering="Sequence"
                archiveFileName="${log-daily}/${shortdate}[Warn]-{####}.log"
                maxArchiveFiles="2000"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${uppercase:${level}} ${logger} ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Debug" writeTo="lifetimeConsole" />
		<logger name="*" minlevel="Debug" writeTo="All" />
		<logger name="*" minlevel="Warn" writeTo="Warnfile" />
	</rules>
</nlog>